# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build & Test

on:
  push:
    branches:
    - develop
    - main
  pull_request:
    branches:
    - develop
    - main
  workflow_dispatch:

env:
  DOTNET_VERSION: '8.0.x'
  SOLUTION_PATH: 'Typotrainer/Typotrainer.sln'

jobs:
  build:
    name: Build Application
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      
      - name: Install MAUI
        run: |
          dotnet workload install maui-windows
          dotnet workload install maui-android
          dotnet workload restore --project ${{ env.SOLUTION_PATH }}
      
      - name: Restore packages
        run: dotnet restore ${{ env.SOLUTION_PATH }}
      
      - name: Build
        run: dotnet build ${{ env.SOLUTION_PATH }} --configuration Release --no-restore
      
      - name: Run tests
        run: dotnet test ${{ env.SOLUTION_PATH }} --configuration Release --no-build
        continue-on-error: true
      
      # Artifacts alleen voor main
      - name: Upload artifacts
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: typotrainer-build
          path: Typotrainer/Typotrainer/bin/Release/
          retention-days: 15
